@import "tailwind";
@import "variables";

body {
  background: #6F7ACC;
  background: -webkit-linear-gradient(top left, #6F7ACC, #78E4ED);
  background: -moz-linear-gradient(top left, #6F7ACC, #78E4ED);
  background: linear-gradient(to bottom right, #6F7ACC, #78E4ED);
  font-family: sans-serif;
}

#app {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
